<app-head-title 
    title="INFORMACION DEL HOTEL"
    description="Se muestra informacion del hotel y sus servicios."
></app-head-title>

<div class="container mt-2">
    <div class="card mb-4">
        <img src="./assets/image/hotel.jpg" class="card-img-top hotel-image" alt="Imagen del Hotel">
        <div class="card-body">
            <h2 class="card-title">Hotel Estancia de Lujo</h2>
            <p class="card-text">Experimenta el epítome del lujo en el Hotel Estancia de Lujo, donde la comodidad se encuentra con la elegancia. Nuestro hotel ofrece servicios de clase mundial, un servicio excepcional y vistas impresionantes para hacer de tu estancia una experiencia inolvidable.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Nuestros Servicios</h3>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="services-icon mb-2"><i class="bi bi-wifi" style="color: blue;"></i></div>
                    <p>Wi-Fi Gratis</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="services-icon mb-2"><i class="bi bi-umbrella" style="color: green;"></i></div>
                    <p>Piscina</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="services-icon mb-2"><i class="bi bi-eyeglasses" style="color: purple;"></i></div>
                    <p>Spa y Bienestar</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Testimonios de Clientes</h3>
            <div class="testimonial">
                <p>"¡El servicio fue excepcional! Nos sentimos como reyes durante nuestra estancia. Las habitaciones eran espaciosas y la vista era impresionante."</p>
                <p class="text-right"><strong>- Juan Pérez</strong></p>
            </div>
            <div class="testimonial">
                <p>"Un lugar perfecto para unas vacaciones en familia. A los niños les encantó la piscina y nosotros disfrutamos de los tratamientos de spa. ¡Altamente recomendado!"</p>
                <p class="text-right"><strong>- Ana Martínez</strong></p>
            </div>
        </div>
    </div>
</div>


